/_tasks
.DS_Store
npm-debug.log
node_modules
dist/
dev.
dev/
.idea/
/node_modules。test


lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.css.map
*/.sass-cache

*.scssc
*.DS_Store
*.orig
pids
logs
results
backup/
node_modules/
test/
json/
static/cdn/

npm-debug.log
.DS_Store
.idea/

public/uploads
database-production.json
scss/*.css
scss/**/*.css
scss/*.css.map

*.sublime-project
*.sublime-workspace